html.complot{
  background-image: url("planet-gf5d3518de_1280.jpg");
  background-repeat: repeat;
  background-size: cover;
}

html.debunk{
  background-image: url("moon-landing-193761.jpg");
  background-repeat: repeat;
  background-size: cover;
}